nav > ul > li{
    display: inline;
    margin: 20px;
    font-size: 20px;
}
li > a {
    text-decoration: none;
}
.button{
    background-image: linear-gradient(rgb(244, 105, 105), rgb(243, 243, 81), rgb(102, 102, 234));
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    box-shadow: 6px 6px 7px rgb(217, 133, 133);
}
.button:hover{
    background-color: cadetblue;
}